{% extends 'core/base.html' %}

{% block title %}Add Client{% endblock %}

{% block content %}


<div class="p-4 sm:ml-64">
    <div class="py-6 px-6">
            <h1 class="text-xl">Add New Client</h1>

            {% if team.plan.max_clients > team.clients.all|length %}
            <form action="." method="post">
                {% csrf_token %}

                {{ form.as_p}}
                <button class="py-4 px-8 bg-green-700 text-white rounded-xl">Add Client</button>
            </form>
        
            {% else %}
                <div role="alert">
                    <div class="bg-red-500 text-white font-bold rounded-t mt-4 px-4 py-2">
                    Warning
                    </div>
                    <div class="border border-t-0 border-red-400 rounded-b bg-red-100 px-4 py-3 text-red-700">
                    <p>You have reached your limit. Kindly upgrade your plan.</p>
                    </div>
                </div>
            {% endif %}
    </div>
</div> 
        

{% endblock %}