{% extends 'core/base.html' %}

{% block title %}All Clients{% endblock %}

{% block content %}
<div class="p-4 sm:ml-64">
    <div class="py-6 px-6">
        <h1 class="mb-4 text-xl">All Clients</h1>

        <div class="flex justify-between">
            <a href="{% url 'clients:add' %}" class="inline-block py-4 px-6 bg-green-700 rounded-xl text-white">Add Clients</a>
            <a class="px-6 rounded-xl text-white py-4 px-6 bg-red-700" href="{% url 'clients:export' %}">Export as CSV</a>
        </div>
        {% if clients %}
            <div class="mt-6 px-2 flex justify-between">
                <p class="py-4 px-2 bg-gray-200 font-semibold w-full">Name</p>
                <p class="py-4 px-2 bg-gray-200 font-semibold w-full">Email</p>
                <p class="py-4 px-2 bg-gray-200 font-semibold w-full">Description</p>
            </div>

            {% for client in clients %}
                <div class="px-2 flex mt-1.5 justify-between">
                    <p class="py-4 px-2 w-full {% cycle 'bg-gray-100' '' %}"> <a href = "{% url 'clients:detail' client.id %}">{{ client.name }}</a> </p>
                    <p class="py-4 px-2 w-full {% cycle 'bg-gray-100' '' %}">{{ client.email }}</p>
                    <p class="py-4 px-2 w-full {% cycle 'bg-gray-100' '' %}">{{ client.description }}</p>
                </div>



            {% endfor %}
        {% else %}
            <p class="text-center mt-10 text-sm mb-10"><i>List of clients is empty</i></p>
        {% endif %}
    </div>
</div>
{% endblock %}