{% extends 'core/base.html' %}

{% block title %}Teams{% endblock %}

{% block content %}

    <div class="p-4 sm:ml-64 py-6 px-6">
        <h1 class="text-2xl mb-6">Teams</h1>
        <div class="grid grid-cols-4 gap-4">
            {% for team in teams %}
                <div class="{% if team == active_team %} bg-blue-100 border-t-4 border-teal-500 rounded-b text-teal-900 px-4 py-3 shadow-md {% else %} bg-gray-100 {% endif %} rounded-xl p-6 mt-6">
                    <div class="flex">
                        <h2 class="mb-4 text-xl ">{{ team.name }}</h2>
                        {% if team == active_team %}
                            <!-- <div class="py-1 ml-4"><svg class="fill-current h-6 w-6 text-teal-500 mr-4" 
                                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                                <path d="M2.93 17.07A10 10 0 1 1 17.07 2.93 10 10 0 0 1 2.93 17.07zm12.73-1.41A8 8 0 1 0 4.34 4.34a8 8 0 0 0 11.32 11.32zM9 11V9h2v6H9v-4zm0-6h2v2H9V5z"/>
                            </svg></div> -->
                            <span class="relative flex ml-3 h-3 w-3">
                                <span class="animate-ping absolute inline-flex h-full w-full rounded-full bg-teal-400 opacity-75"></span>
                                <span class="relative inline-flex rounded-full h-3 w-3 bg-teal-500"></span>
                              </span>
                        {% endif %}
                    </div>
                        {% if team == active_team %}
                            <p class="sm">Active</p>
                        {% else %}
                            <a href="{% url 'team:activate' team.id %}" class="inline-block py-4 px-6 bg-teal-600 rounded-xl text-white">Activate Team</a>
                        {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}