{% extends 'core/base.html' %}

{% block title %}{{ lead.name }}{% endblock %}

{% block content %}

<div class="p-4 sm:ml-64">
    <div class="py-6 px-6">
        <h1 class="mb-4 text-xl">{{ lead.name }}</h1>

        {% if lead.description %}
            <p class="font-semibold"> Description </p>
            <p class="mb-2">{{ lead.description }}</p>
        {% endif %}

        <p class="font-semibold">Priority</p>
        <p class="mb-2">{{ lead.get_priority_display }}</p>

        <p class="font-semibold">Status</p>
        <p class="mb-2">{{ lead.get_status_display }}</p>

        <p class="font-semibold">Created at</p>
        <p class="font-normal text-sm mb-2"><i>{{ lead.created_at }}</i></p>

        <p class="font-semibold">Modified at</p>
        <p class="font-normal text-sm mb-10"><i>{{ lead.modified_at }}</i></p>

        <form action="{% url 'leads:delete' lead.id %}" method="post" id="lead_delete_form">
            {% csrf_token %}
        </form>


        <hr class="my-4">
        <a class="px-6 rounded-xl text-white py-3 bg-green-700" href="{% url 'leads:convert' lead.id %}">Move to Converted</a>
        <a class="px-6 rounded-xl text-white py-3 bg-red-700" onclick="document.getElementById('lead_delete_form').submit();" href="#">Delete</a>
        <a class="px-6 rounded-xl text-white py-3 bg-teal-700" href="{% url 'leads:edit' lead.id %}">Edit</a>
        <hr class="my-4">

        <a href="{% url 'leads:list' %}">Back to leads</a>


        <hr class="my-4">

        <h2 class="text-xl">Comments</h2>
        <div class="space-y-4 mt-6">
            {% for comment in lead.comments.all %}
            <p><strong>{{ comment.created_by }}</strong></p>
            <p class="text-xs">{{ comment.created_at }}</p>
                <div class="bg-gray-100 py-6 px-6 rounded-xl mt-2 mb-2">
                    {{ comment.content }}
                </div>
            {% endfor %}
        </div>

        <form action="{% url 'leads:add_comment' lead.id%}" method="post">
            {% csrf_token %}

            {{ form.as_p }}

            <button class="px-6 rounded-xl text-white py-3 bg-green-700">Submit Comment</button>
        </form>

        <hr class="my-4">

        <h2 class="text-xl">Documents</h2>
        <div class="space-y-4 mt-6">
            {% for file in lead.files.all %}
            <p><strong>{{ file.created_by }}</strong></p>
            <p class="text-xs">{{ file.created_at }}</p>
                <div class="bg-gray-100 py-6 px-6 rounded-xl mt-2 mb-2">
                    <a href="{{ file.file.url }}">Download</a>
                </div>
            {% endfor %}
        </div>

        <h2 class="mb-6 text-xl">Upload Documents</h2>
        <form action="{% url 'leads:add_file' lead.id %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}

            {{ fileform.as_p }}

            <button class="px-6 rounded-xl text-white py-5 bg-green-700">Upload</button>
        </form>
        <hr class="my-4">
    </div>
</div>
{% endblock %}