{% extends 'core/base.html' %}

{% block title %}{{ lead.name }}{% endblock %}

{% block content %}
    <div class="py-6 px-6">
        <h1 class="mb-4 text-xl">{{ lead.name }}</h1>

        {% if lead.description %}
            <p class="font-semibold"> Description </p>
            <p class="mb-2">{{ lead.description }}</p>
        {% endif %}

        <p class="font-semibold">Priority</p>
        <p class="mb-2">{{ lead.get_priority_display }}</p>

        <p class="font-semibold">Status</p>
        <p class="mb-2">{{ lead.get_status_display }}</p>

        <p class="font-semibold">Created at</p>
        <p class="font-normal text-sm mb-2"><i>{{ lead.created_at }}</i></p>

        <p class="font-semibold">Modified at</p>
        <p class="font-normal text-sm mb-10"><i>{{ lead.modified_at }}</i></p>

        <hr class="my-4">
        <a class="px-6 rounded-xl text-white py-2 bg-red-700" href="{% url 'leads_delete' lead.id %}">Delete</a>
        <a class="px-6 rounded-xl text-white py-2 bg-teal-700" href="{% url 'edit_lead' lead.id %}">Edit</a>
        <hr class="my-4">

        <a href="{% url 'all_leads' %}">Back to leads</a>
    </div>

{% endblock %}