{% extends 'core/base.html' %}

{% block title %}All Leads{% endblock %}

{% block content %}
    <div class="p-4 sm:ml-64">
        <div class="py-3 px-3">
            <h1 class="mb-4 text-xl">All Leads</h1>
            <div class="flex justify-between">
                <a href="{% url 'leads:add' %}" class="inline-block py-4 px-6 bg-green-700 rounded-xl text-white">New Lead</a>
                <button class="bg-gray-300 hover:bg-gray-400 text-gray-800 py-4 px-6 rounded inline-flex rounded-xl items-center"><svg class="fill-current w-4 h-4 mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M13 8V2H7v6H2l8 8 8-8h-5zM0 18h20v2H0v-2z"/></svg>
                    <a href="{% url 'leads:export' %}">Export as CSV</a>
                </button>
            </div>
            {% if object_list %}
                <div class="mt-6 px-2 flex justify-between">
                    <p class="py-4 px-2 bg-gray-200 font-semibold w-full">Name</p>
                    <p class="py-4 px-2 bg-gray-200 font-semibold w-full">Priority</p>
                    <p class="py-4 px-2 bg-gray-200 font-semibold w-full">Status</p>
                </div>

                {% for lead in object_list %}
                    <div class="px-2 flex mt-1.5 justify-between">
                        <p class="py-4 px-2 w-full {% cycle 'bg-gray-100' '' %}"> <a href = "{% url 'leads:detail' lead.id %}">{{ lead.name }}</a> </p>
                        <p class="py-4 px-2 w-full {% cycle 'bg-gray-100' '' %}">{{ lead.get_priority_display }}</p>
                        <p class="py-4 px-2 w-full {% cycle 'bg-gray-100' '' %}">{{ lead.get_status_display }}</p>
                    </div>



                {% endfor %}
            {% else %}
                <p class="text-center mt-10 text-sm mb-10"><i>List of leads is empty</i></p>
            {% endif %}
        </div>
    </div>
{% endblock %}