{% load static %}

<!doctype html>

<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'main.min.css' %}">
        <script src="https://cdn.tailwindcss.com"></script>

        <title>{% block title %}{% endblock %}</title>
    </head>
    <body>
        <div class="p-4 sm:ml-64">
            {% include 'core/partials/nav.html' %}

            {% if messages %}
                <div class="py-6 px-6 text-grey">
                    {% for message in messages %}
                        <div class="py-4 px-4 bg-teal-300 rounded-xl">
                            {{ message }}
                        </div>
                    {% endfor %}
                </div>

            {% endif %}
        </div>
        <!-- Sidebar -->
        {% if request.user.is_authenticated %}
            {% include 'core/partials/sidebar.html' %}
         {% endif %}


        {% block content %}
        {% endblock %}
        <div class="p-4 sm:ml-64">
            {% include 'core/partials/footer.html' %}
        </div>
    </body>
</html>